<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <style>
        body {background-color: #f0e68c; /* Цвет фона */}
    </style>
</head>
<body>
    <h1>{{ welcome_message }}</h1>  <!-- Приветственное сообщение -->

    {% if error_message %}
        <div style="color: red;">{{ error_message }}</div>  <!-- Сообщение об ошибке -->
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Выйти</a>
        <p>Войдите, пож!</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Отображение формы -->
            <button type="submit">Войти</button>  <!-- Кнопка отправки формы -->
        </form>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</body>
</html>



